html{font-size:15px;}
#home{height:100vh;overflow:hidden;position:relative;}
.barra-navegacion{padding-top:100px;position:absolute;z-index:1;width:100%;}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus{color:#f8f9fa;}
.bg-light{background-color:#28282861!important;}
.cambio-fondo{background-color:black!important;}
.bg-light{transition:all 1s ease;}
.home img{height:100vh;}
.navbar-light .navbar-brand{color:#fbfbfb;font-size:2rem;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{border-bottom:2px solid #fff;}
.navbar-light .navbar-nav .nav-link{color:#f8f9fa;text-transform:uppercase;}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{color:#f8f9fa;}
.carousel-caption{padding-bottom:100px;}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{color:#f8f9fa;border-bottom:2px solid #fff;}
.home .slide .carousel-indicators, dl{padding-bottom:100px;}
.fa-angle-down:before{color:#21b543;font-size:2rem;}
.nosotros{border-top:5px solid #212529cf;border-top-right-radius:10px;border-top-left-radius:10px;}
.nosotros .microdatos span{font-size:20px;}
.nosotros .row p{font-size:20px;}
.clientes p{font-size:20px;}
.contacto p{font-size:20px;}
.contacto{border-top:5px solid #212529cf;border-top-right-radius:10px;border-top-left-radius:10px;}
.contacto .social-footer a{background:black;}
.contacto .row ul li .px-2{color:#212529;}
.contacto .row .fa-facebook:before{font-size:40px;}
.contacto .row .fa-google-plus-square:before{font-size:40px;}
.contacto .row .fa-twitter-square:before{font-size:40px;}
.contacto .row .fa-instagram:before{font-size:40px;}
.contacto .row .col-md-4 .fa-envelope-square:before{font-size:100px;}
.contacto .row .col-md-4 .fa-phone-square:before{font-size:100px;}
.contacto .row .col-md-4 h3 a:hover{color:black;text-decoration:none;}
.contacto .row .col-md-4 .email a{color:black}
.contacto2{background:#282828;border-top:3px solid #6c757d33;}
.contacto2 .fa-safari:before{font-size:50px;color:#fff;}
.texto p{padding-right:100px;}
.contacto2 p{color:#fff;}
.pie{background:#282828;color:#fff;}
.pie div p{font-size:1.3rem;}
@media only screen and (min-width:300px) and (max-width:767px){.home .carousel-caption h1{font-size:30px;}
.home .carousel-caption h3{font-size:20px}
.home{font-size:14px}
.bg-light{background-color:#28282861!important;border-radius:0px;}
.cambio-fondo{background-color:black!important;}
.bg-light{transition:all 1s ease;}
.carousel-caption{padding-bottom:50px;}
.home .slide .carousel-indicators, dl{padding-bottom:50px;}
.home #img1{content:url("../img/responsive/servicio_de_fumigacion.jpg");width:317px;height:522px;}
.home #img2{content:url("../img/responsive/mejores_fumigadores.jpg");width:317px;height:522px;}
.contacto2 .contac{padding-top:50px;}
.contacto2 .contac p{font-size:13px;}
.navbar-toggler{background-color:#fbfbfb;}
.servicios img{width:250px;}
.contacto .email{font-size:20px;}
}